@import "layout";
@import "divider";

@each $key, $value in $themes {
  html{
    &.#{$key}{
      body{
        background: map-get($value, 'bg-layout') !important;
      }
    }
  }
}


.app{
  @apply min-h-screen #{!important};
  &-content-full {
    &-fix{
      height: calc(100vh - $height-header);
    }
    min-height: 100vb;
    //min-height: calc(100vh - $height-header);
  }

  @include themify($themes){
    background: themed('bg-layout') !important;
  }

  .ant{
    &-layout{
      @include themify($themes){
        background: themed('bg-layout') !important;
      }
    }
  }
  &-main{
    @apply relative z-0 min-h-screen #{!important};
    //padding-top: $height-header;
    @include themify($themes){
      background: themed('bg-layout') !important;
    }
  }
  &-footer{
    padding: 0 !important;
    @include themify($themes){
      background: themed('bg-footer') !important;
    }
  }
  &-header {
    @apply p-0 #{!important};
    z-index: $zIndexHeader;
    height: $height-header !important;
    @include themify($themes){
      background: themed('bg-header');
    }

    &.app{
      &-header{
        &-transparent{
          @apply bg-transparent #{!important};
          transition: .2s ease-in-out;
          &--inactive{
            @apply bg-black bg-opacity-50 backdrop-blur #{!important};
          }
        }
      }
    }


  }

  .ant{
    &-layout{
      &-header{
        @apply fixed top-0 left-0 w-full #{!important};
        @include themify($themes){
          background: themed('bg-header');
        }
      }
    }
  }
}
