.app{
  &-page{
    &-pt{
      padding-top: $height-header;
    }
    &-mt{
      margin-top: $height-header;
    }
    &-full{
      min-height: calc(100vh - $height-header);
    }
    .app{
      &-header{
        height: $height-header !important;
        > div {
          @apply h-full flex flex-col;
        }
        &-nav{
          @apply w-full flex justify-between h-full;
        }

        &-right{
          @apply h-full flex items-center gap-4;
        }
      }

    }

    &-content{
      @apply h-full flex flex-col;
    }
    &-main{
      @include ant-menus;
      //margin-top: $height-header;
      min-height: calc(100vh - $height-header);
    }
  }
}
