@font-face {
  font-family: "sf-pro-italic";
  src: url('/public/assets/fonts/SFPRODISPLAYBLACKITALIC.otf');
}

@font-face {
  font-family: "sf-pro-bold";
  src: url('/public/assets/fonts/SFPRODISPLAYBOLD.otf');
}
@font-face {
  font-family: "sf-pro-heavy-italic";
  src: url('/public/assets/fonts/SFPRODISPLAYHEAVYITALIC.otf');
}
@font-face {
  font-family: "sf-pro-regular";
  src: url('/public/assets/fonts/SFPRODISPLAYREGULAR.otf');
}
@font-face {
  font-family: "sf-pro-medium";
  src: url('/public/assets/fonts/SFPRODISPLAYMEDIUM.otf');
}
@font-face {
  font-family: "sf-pro-semibold-italic";
  src: url('/public/assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.otf');
}
@font-face {
  font-family: "sf-pro-lightthin-italic";
  src: url('/public/assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.otf');
}
